.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  width: 95vw;
  /* overflow: hidden; */
}
.now {
  background: #0058a2;
  color: white;
  padding: 7px;
  font-size: 24px;
  margin: 0px 0px 50px 0px;
}
.img_box {
  max-width: 100%;
  width: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 250px;
  margin: 0px 0px 15px 0px;
}
.link_box {
  font-size: 14px;
  margin: 0px 0px 15px 0px;
}

.text_botom_box {
  margin: 30px 0px 0px 0px;
}
.text_box {
  height: 57px;
}

.price_box {
  display: flex;
  justify-content: space-around;
}
.swiper_slide {
  background-position: center;
  background-size: cover;
  padding-left: 5px;
  width: 250px;
  height: 450px;
  margin: 2px 10px 10px 10px;
}
.swiper_slide:hover {
  box-shadow: 2px 0px 15px #0059a271;
}
.text_box_price {
  font-size: 18px;
  font-weight: 700;
}

.main_h1_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5px;
  width: 100%;
}
.main_h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.main_p_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.reflection_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.reflection_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.main_h1 {
  font-size: 24px;
  font-weight: 700;
  gap: 20px;
}
.box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.box_left {
  width: 20%;
}
.box_right {
  width: 80%;
}
.right_h1 {
  display: none;
}
.right_goods_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.slider {
  width: 160px;
}
.slider_el {
  width: 160px;
  background-color: #2c57f6;
}
.shopping {
  cursor: pointer;
}
/* main_p2 */
.reflection .main_p2,
.main_p1,
.main_p_box,
.main_sort,
.reflection_icon2,
.reflection_icon1 {
  cursor: pointer;
}

/* main_p2 */
/* categori_box_left */
.categori_box_left {
  margin: 20px 0px 0px 0px;
}
.categori_left_elem:hover {
  color: #250ba6;
  font-weight: 600;
  cursor: pointer;
}
.categori_left_elem {
  font-size: 14px;
}
/* categori_box_left */
