.main {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(254, 255, 255);
  z-index: 30;
  box-shadow: 0px 0px 15px #0059a271;
  padding-top: 40px;
  overflow: auto;
  height: 100vh;
  top: 0;
}

.button_box {
  align-items: center;
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  border: 0.1px solid #00000088;
  /* border: 3px solid; */
}
.button_box > * {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.button3 {
  width: 40px;
  background-color: rgb(236, 238, 241);
}
.button1 {
  background-color: rgb(241, 240, 240);
}
.button3,
.button1 {
  font-size: 16px; /* Это значение размера шрифта может вызывать проблему */
  width: 40px;
  cursor: pointer;
  user-select: none;
}

.button2 {
  width: 50px;
}
.swiper_slide {
  height: 80px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 0px 0px;
  border: 1px solid #000;
  background-color: whitesmoke;
  position: relative;
}
.swiper_slide:hover .dustbin {
  color: #000000;
}
.image_box {
  height: 100%;
  width: 200px;
}
.main1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  position: relative;
}
.text {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
  padding-right: 3%;
}
.price {
  width: 17%;
  font-weight: 600;
}
.name {
  width: 80%;
}
.number_box,
.price_box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 15%;
}
.price_box {
  position: relative;
  width: 25%;
}
/* absolute price_box_h1 */
.price_box_h1 {
  position: absolute;
  top: -10px;
  right: 80px;
}
.number_text {
  top: -10px;
  position: absolute;
  right: 180px;
}
.number_textP {
  top: -10px;
  position: absolute;
  right: 330px;
}
.number_textN {
  top: -10px;
  left: 260px;
  position: absolute;
}
.price_span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-weight: 600;
}
.h1 {
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  top: -20px;
  left: 30px;
}
.x {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.dustbin {
  position: absolute;
  right: 5px;

  color: rgba(0, 0, 0, 0);
  cursor: pointer;
  top: 50%;
  right: 1%;
  transform: translate(-2%, -50%);
}
/* absolute */
/* issue_box */
.issue_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  height: 150px;
  border: 1px solid #000;
  margin: 10px 0px 0px 0px;
  font-size: 18px;
}
.issue_come {
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.issue_price_span {
  font-weight: 700;
}
.issue_price {
  display: flex;
  gap: 10px;
}
.issue_total {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.issue_order {
  height: 35px;
  background-color: rgb(58, 103, 200);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.issue_order:hover {
  color: #8f8d8d;
  text-shadow: 3px 3px 4px rgba(204, 20, 20, 0.5);
}
/* issue_box and*/
