.container {
  top: 75px;
  position: absolute;
  background: white;
  padding: 20px;
  color: rgb(8, 0, 0);
  z-index: 100;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.component_name_box {
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: 600;
}
.component_box {
  width: 250px;
  margin: 0px 0px 10px 0px;
}
.component_mas_elem_text:hover {
  color: #250ba6;
  font-weight: 600;
}
.component_mas_elem_text {
  font-size: 14px;
}
.a {
  left: -10%;
  flex-direction: column;
}
.b {
  left: -10%;
}
.c {
  left: 0%;
}

.d {
  right: 40%;
  transform: translate(0%, 0%);
}
.f {
  right: 20%;
  transform: translate(0%, 0%);
}
.g {
  right: 5%;
}
.o {
  right: -80px;
  flex-direction: column;
}
